<!DOCTYPE html>
<html>
<head>
   {{ partial "head" . }}
</head>
<body>
  {{ partial "header" . }}
  <div class="container" style="padding-top: 70px">
    <h1>Blog</h1>
    <hr />
    <!-- FIXME: Ez valamiért kell neki: -->
    <!--{{ template "_internal/pagination.html" . }}-->
    {{ $paginator := .Paginate (first 10 .Pages.ByDate.Reverse) }}
    {{ range $paginator.Pages }}
    <h2>
      <a class="anchor" id="{{ .Slug }}"></a>
      <a href="#{{ .Slug }}">{{ .Title }}</a>
      <!-- <a href="{{ .Permalink }}">🔗</a> -->
    </h2>
    <p><strong>Szerző:</strong> {{ .Params.Author }}, {{ .Date.Format "2006. 01. 02." }}</p>
    {{ .Content }}
    {{ end }}
    {{ $paginator := .Paginate (first 10 .Pages.ByDate.Reverse) }}
    {{ template "_internal/pagination.html" . }}
  </div>
  {{ partial "footer" . }}
</body>
</html>
