---
Title: "Tagok"
Date: 2020-03-04T10:11:37+02:00
Draft: false
Summary: "A Kockaszámláló Asztaltársaság tagjai"
---
<h2>Alapítók</h2>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-3">
        Gipsz Jakab
      </th>
      <td class="col">
        <strong>Név:</strong>
      </td>
    </tr>
    <tr>
      <th class="col-3" rowspan="3">
        Fénykép helye
      </th>
      <td class="col">
        <strong>Kar/szak:</strong>
      </td>
    </tr>
    <tr>
      <td class="col">
        <strong>Steam fiók:</strong>
      </td>
    </tr>
    <tr>
      <td class="col">
        <strong>Bemutatkozás:</strong>
      </td>
    </tr>
  </tbody>
</table>