<!DOCTYPE html>
<html>
<head>
	 {{ partial "head" . }}
</head>
<body>
	{{ partial "header" . }}

	<div class="container" style="padding-top: 70px">{{ .Content }}</div>
	
	{{ partial "footer" . }}
</body>
</html>
