<meta charset="utf-8" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/overrides.css" />
<title>Kockaszámláló Asztaltársaság</title>
