<nav class="navbar navbar-dark fixed-top navbar-expand-sm bg-primary">
	<div class="container">
		<a class="navbar-brand" href="/">
			Kockaszámláló
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigáció átváltása">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/bemutatkozas">Bemutatkozás</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/tagok">Tagok</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/szabalyzat">Szabályzat</a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link" href="/galeria">Galéria</a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link" href="/blog">Blog</a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link" href="/hivatkozasok">Hivatkozások</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
